{{>head}}
{{>header}}
    <div class="central">
        <h1>{{title}} page</h1>
        <p class="para">Here you can search for weather in your city</p>

        <form>
            <input placeholder="Location">
            <button>Submit</button>
        </form>

        <p id="message1"></p>
        <p id="message2"></p>
        {{>footer}}
    </div>
{{>foot}}