<header>
    <div class="wrap">
    <div class="brand">
        <span>Weather</span>
    </div>
    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/help">Помощь</a>
        <a href="/about">Обо мне</a>
    </div>
    </div>
</header>

