<header>
    <div class="wrap">
    <div class="brand">
        <span>Weather</span>
    </div>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
    </div>
    </div>
</header>

