body {
    color: #333333;
    padding: 0;
    margin: 0;
}
.central {
    width: 70%;
    margin: 0 auto;
}
a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
a:hover {
    color: #333333;
    text-decoration: underline;
    transition: 0.5s;
}

header {
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
}
.brand {
    font-size: 36px;
}
.wrap {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.author {
    color: #C9C9C9;
    margin-top: 350px;
    padding-top: 20px;
    border-top: 1px solid #C9C9C9;
    width: 60%;
}
h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
p {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.para {
    margin-bottom: 30px;
}
form {
    display: flex;
    justify-content: center;
}
form input {
    margin: 0 5px;
    border-radius: 3px;
    box-shadow: none;
    border: 2px solid #F3F3F3;
    padding: 10px;
    outline: #333333;
}

form button {
    margin: 0 5px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    background-color: #F3F3F3;
    padding: 10px;
    outline: #333333;
}
form button:hover {
    background-color: #E0E0E0;
}

@media only screen and (min-width: 0px) {
    .wrap {
      flex-direction: column;
    }
    .navigation {
        margin-top: 10px;
    }
    .navigation a {
        margin: 0 10px
    }
    header {
        height: 100px;
    }
    #message1 {
        text-align: center;
    }
    #message2 {
        text-align: center;
    }
    .central {
        text-align: center;
    }
    .central h1 {
        font-size: 36px;
    }
  }
@media only screen and (min-width: 480px) {
    .navigation {
        margin: 0;
    }
    .navigation a {
        margin: 0 10px;
    }
    header {
        height: 70px;
    }
    .wrap {
        flex-direction: row;
    }
    .central h1 {
        font-size: 50px;
    }
}